// Main SCSS file for Infinite Edit Webview
// Imports from child folders can be added here
@use "./nodes/EditorNode.scss";
@use "./ui/Toolbar.scss";

@import "~@vscode/codicons/dist/codicon.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d162b;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#canvas-container {
    position: relative;
    width: 100vw;
    height: 100vh;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        pointer-events: none;
    }

    /* PixiJS 8 DOMContainer wrapper */
    >div {
        z-index: 1 !important;
    }
}